html {
  font-size: 12  px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 50;
  text-align: center;
}

body {
  width: 600px;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  text-align: right;
}
